html {
    height: 100%;
}

body {
    background-color: #2f3035;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.89);
    opacity: .6;
    z-index: -1;
}

.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 118px;    
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
}

nav {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: rgba(255, 255, 255, 0.116);
    text-align: center;
}

main {
    height: 400px;    
    text-align: center;
    padding-top: 50px;
    padding-left: 240px;
    padding-right: 240px;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.698);
}

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p {
    font-size: 10px;
    text-align: center;
    color: rgb(212, 212, 212);
}

.map {
    padding-bottom: 100px;
}